<% include ./partials/header2 %>

<div class="container">
    <p style="text-align: center;margin: 52px;font-size: 20px;">    An email has been sent to you please respond to it.    </p>
    <div style="text-align: center">
        <a href="/internships"><button class="btn btn-outline-info" style="width: 100px;">Back</button></a>
    </div>
    

</div>


<% include ./partials/footer2 %>