<% include ../partials/header2 %>

<div class="container-fluid post-job">
    <h5>Post a new Job</h5>
    <form method="POST" class="needs-validation post-job-form"  action="/internships" novalidate>
        <div class="form-group">
            <label for="company-name">Enter Company Name</label>
            <input class="form-control" type="text" name="company_name" id="company-name" placeholder="Ex. Microsoft" required>
            <div class="invalid-feedback">
                Please provide a company name.
            </div>
        </div>
        <div class="form-group">
            <label for="intern-profile">Enter Profile Name</label>
            <input class="form-control" type="text" name="intern_profile" id="intern-profile" placeholder="Ex. UI/UX Developer" required>
            <div class="invalid-feedback">
                Please provide a profile name.
            </div>
        </div>
        <div class="form-group">
            <label for="stipend">Enter Stipend</label>
            <input class="form-control" type="text" name="stipend" id="stipend" placeholder="Ex. 5000" required>
            <div class="invalid-feedback">
                Please a stipend amount.
            </div>
        </div>
        <div class="form-group">
            <label for="location">Enter Location</label>
            <input class="form-control" type="text" name="location" id="location" placeholder="Ex. Work From Home" required>
            <div class="invalid-feedback">
                Please provide a location for intern.
            </div>
        </div>
        <div class="form-group">
            <label for="duration">Enter Duration</label>
            <input class="form-control" type="text" name="duration" id="duration" placeholder="3 Months" required>
            <div class="invalid-feedback">
                Please provide a duration of internship.
            </div>
        </div>
        <div class="form-group">
            <label for="perks">Perks given by company</label>
            <input class="form-control" type="text" name="perks" id="perks" placeholder="Ex. Certificate, Letter of recommendation, Flexible work hours." required>
            <div class="invalid-feedback">
                Please provide perks given by company.
            </div>
        </div>
        <div class="form-group">
            <label for="role-requirement">Requirement for company</label>
            <input class="form-control" type="text" name="role_requirement" id="role-requirement" placeholder="Ex. Angular, Nodejs, Cloud Computing" required>
            <div class="invalid-feedback">
                Please provide the requirements for the company.
            </div>
        </div>
        <div class="form-group">
            <label for="company-detail">Company Details</label>
            <textarea class="form-control" id="company-detail" name="company_detail" rows="6" required></textarea>
            <div class="invalid-feedback">
                Please provide a description of the company.
            </div>
        </div>
        <div class="form-group" id="content">

            <label for="reponsibility">Intern Role and Responsibilty</label>
            <input class="form-control" type="text" id="reponsibility" name="role_responsibility" placeholder="Ex.  Submit the task on EOD; Work on the given task on web development "  required>
            <div class="invalid-feedback">
                Please provide at least one role of the intern.
            </div>
        </div>
        <div class="form-group">
            <label for="reponsibility">Email Id</label>
            <input class="form-control" type="text" id="reponsibility" name="email"  placeholder="example@gmail.com">
        </div>
        <hr>
        <button class="btn btn-light post-job-submit" type="submit">Submit form</button>
    </form>
</div>

<% include ../partials/footer2 %>